<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/styles.css"> <!-- Link to the external CSS file -->
</head>
<body>
  <div class="container">
    <header>
      <h1>Welcome to your Dashboard</h1>
    </header>

    <form action="/bungalow/all" method="get">
        <button type="submit">Show All Bungalows!</button>
    </form>



    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>

    <footer>
      <p>&copy; 2024 Bungalow Inc. All Rights Reserved</p>
    </footer>
  </div>
</body>
</html>
